QComboBox:!editable
{
	color: white;
	font: bold 10pt;

	/*
	selection-color: rgb(100, 100, 100);
	selection-background-color: red;
	*/

	min-height: 32px;
	min-width: 60px;
	border-image: url(:/images/qssimages/button.png) 16;
	border-width: 16px;
	padding: -16px 0px;
}